.page-header
	%h1 
		List of teams
		%small= @msg if !@msg.nil?

%section.list-of-items
	%table.table.table-bordered	
		%thead
			%th #
			%th= render 'dropdown_filter', table: "belongs", column: "Country", objects: @countries
			%th= sortable 'name'
			%th= sortable 'count', 'People'
			%th= render 'autocomplete_filter_for_works'
			%th= sortable 'cost'
		%tbody
			- @teams.each_with_index do |team, i|
				%tr
					%td= i + 1
					%td= team.country.name if !team.country.nil?
					%td= link_to team.name, team
					%td= team.count
					%td
						.work-list
							- team.work_list.each do |work|
								= filter 'works', work
					%td= team.cost.to_s + " $"
%section.user-controls
	= link_to 'Add new team', new_team_path, class: 'btn btn-large btn-primary'