.page-header
	%h1 
		About team: 
		= @team.name

%section.showing
	%table.table.table-bordered	
		%tbody
			%tr 
				%td Country
				%td= @team.country.name if !@team.country.nil?
			%tr 
				%td Name
				%td= @team.name
			%tr 
				%td Count
				%td= @team.count
			%tr 
				%td Works
				%td= @team.work_list
			%tr 
				%td Cost
				%td= @team.cost.to_s + " $"
%section.user-controls
	= link_to "Edit team", edit_team_path(@team), class: 'btn btn-large btn-primary'

