//= require_tree .
@import 'jquery.ui.autocomplete';
@import 'bootstrap';
@import 'bootstrap-responsive';

section {
	padding: 0 40px;
}

.alert {
	margin: 130px 40px -140px 40px;
}

.page-header {
	background: white;
	
	margin-top: 50px;
	width: 100%;

	top: 0;
	position: fixed;
	
	h1 {
		padding-left: 35px;
	}
}

.inline {
	display: inline-block;
}

.autocomplete {
	width: 300px;
	height: 22px;

	form {
		margin: 0 0 0 0;
	}
}

.view {
	display: inline-block;
}

.navbar {
	width: 100%;

	top: 0;
	position: fixed;
}

.user-controls {
	background: white;
	
	height: 100px;
	width: 100%;

	bottom: 0;
	position: fixed;
}

.list-of-items, .editing, .showing, .creating {
	padding-top: 150px;
}

.table tbody a {
	color: #333;
	text-decoration: underline;
	&:hover {
		color: #0088cc;
	}
}

