!!!
%html
	%head
		%title Teams
		%meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		= stylesheet_link_tag 	 "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= render 'shared/navbar'
		%article.page
			= render 'shared/messages'
			= yield
